<template>
  <!-- Donate -->
  <div v-if="donateVisible" class="ports-banner donate-banner d-md-flex">
    <a href="https://ubports.com/donate" target="_blank" rel="noreferrer noopener">
      <img src="/img/icons/donate.svg" alt="donate-icon" class="donate-icon"/>
    </a>
    <div>
      <a href="https://ubports.com/donate" target="_blank" rel="noreferrer noopener">
        <p>Ubuntu Touch is supported by awesome people like you.</p>
        <p>Help us continue development with a <span class="link">donation</span>.</p>
      </a>
    </div>
    <img src="/img/icons/close-icon.svg" alt="close-icon" class="close-icon" @click="disableDonation"/>
  </div>
</template>

<script>
export default {
  name: "Donate",
  data: function() {
    return {
      donateVisible: true
    };
  },
  mounted: function() {
    let noDonationTime = localStorage.getItem("noDonationPopupTime");
    this.donateVisible = noDonationTime ? noDonationTime < Date.now() : true;
  },
  methods: {
    disableDonation() {
      localStorage.setItem("noDonationPopupTime", Date.now() + 259200000);
      this.donateVisible = false;
    }
  }
};
</script>
